<div class = "container">
    <h1 class="app-title">Ntoya Url Shortener</h1>
    <div class="entry-container">
        <div class="url-input">
            <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
              <label for="longUrl">Long URL:</label>
              <input id="longUrl" type="text" formControlName="longUrl" />
              <div *ngIf="urlForm.controls['longUrl'].errors?.['invalidUrl']" class="error-message">
                Please enter a valid URL.
              </div>
          
              <label for="customAlias">Custom Alias (optional):</label>
              <input id="customAlias" type="text" formControlName="customAlias" />
          
              <button type="submit" [disabled]="!urlForm.valid">Shorten URL</button>
            </form>
          </div>
    
    </div>
    
    <div class="table-container">
        <div class="shortened-urls">
            <h2>Shortened URLs</h2>
            <table>
              <thead>
                <tr>
                  <th>Long URL</th>
                  <th>Short URL</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let urlMapping of urlMappings">
                  <td>{{ urlMapping.longUrl }}</td>
                  <td><a [href]="urlMapping.shortUrl" target="_blank">{{ urlMapping.shortUrl }}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
